extends layout

block content
  div.jumbotron.my-3
    h1.display-4 ToDoアプリ
  if user
    div
      a(href="/schedules/new").btn.btn-info やることを作る
      - var hasSchedule = schedules.length > 0
      if hasSchedule
        h3.my-3 やることリスト
        table.table
          tr
            th やること
            th 更新日時
          each schedule in schedules
            tr
              td #{schedule.scheduleName}
              td #{schedule.formattedUpdateAt}
              td
                form(method="post", action=`/${schedule.scheduleId}?delete=1`).my-3
                  button(type="submit").btn.btn-danger 削除
